body {
    background-color: black;
    font-family: helvetica, sans-serif;
        margin: 0px auto;
        padding: 0px 15px;

    }

.hidden {
    display: none;
}

menu {
    padding: 0px;
            list-style-type: none;
}


    h1 {
        font-family: system-ui, -apple-system, 'Helvetica Neue', sans-serif;
        font-size: 60pt;
        color: #ef74a1;
        border-bottom-style: solid;
        border-bottom-color: rgb(0, 144, 0);
        margin: 0px;
    }

    h2 {
        color: #ff79aa;
        margin: 10px 0px;

    }

    p {
        color: #ffcfe0;
        font-size: 14pt;
    }

    p em {
        color: rgb(0, 144, 0);
        font-weight: bold;
        border-block: solid;
        border-radius: 4px;
        background-color: #45061b;
        border-block-width: 0.25px;
        border-block-color: black;
    }

    p li {
        color: #ff79aa
    }

    figcaption {
        color: #ff79aa
    }

    figcaption cite {
        color: rgb(0, 144, 0)
    }


    .fancy {
        background-color: rgb(255, 162, 199);
        color: white;
        margin: 10px;
        padding: 4px;
        list-style-type: none;
        width: 80%;

    }

    img {
        max-width: 300px;

    }

    figcaption {
        max-width: 300px;
    }

    strong {
        display: block;
    }


    .special {
        max-height: 600px;
    }

a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}



    /** wide screen **/
    @media (min-width:700px) {

        body {
            background-color: black;
            font-family: helvetica, sans-serif;
                max-width: 65%;
                margin: 0px auto;
                padding: 0px 15px;

            }

        /** nav bar **/
        menu {
            display: flex;
            flex-direction: row;
            padding: 0px;
            list-style-type: none;
        }

        nav menu li {
            text-align: center;
        }

        a {
            color: black;
            text-decoration: none;
        }

        #burger {
            display: none;
        }

        #hamburger {
            display: none;
        }

    }

    /** narrow screens **/
    @media (max-width: 699px) {
        h1 {
            width: 100%;
            height: fit-content;
            font-size: 12vw;
            border:none;
            margin: 0px 2vw;
        }

        .hiddenburger {
            display: flex;
            flex-direction: row;
            height: fit-content;
            border-bottom-style: solid;
            border-bottom-color: rgb(0, 144, 0);
        }

        #burger {
            height: 100%;
            width: auto;
            background-color: black;
            border: none;
            padding: 3px 0px 0px 0px;
            margin: auto 5px;
            color: white;
        }

        .buttonhere {
            height: 6.5vw;
            max-height: 30px;
        }

        #navbar {
            display: none;
        }

        #hamburger {
            height: 25vh;
            width: 100%;
            background-color: black;
            margin: 0px;
            position: absolute;
            top: 15vw;
            left: 2vw;
            z-index: 2;
        }

        .body {
            position: absolute;
            top: 15vw;
            z-index: -1;
            max-width: 95vw;
        }

        #hamburger .fancy {
            background-color: black;
        }

        img {
            width: 100%;
        }





    }

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .gallery img {
        width: 15vw;
        height: auto;
        margin: 5px;
    }

    .galleryitem {
        background-color: black;
        border: none;
    }

    .gallerypc {
        background-color: black;
        width: 50vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;

        display: flex;
        flex-direction: column;
    }

    div.gallerypc img {
        padding: 10px;
        width: 90%;
        margin: 10px auto;

    }

    .gallerypc p {
        margin: 5px auto;
        font-size: 12px;
        width: 80%;
    }

    .exit {
        width: 100%;
        background-color: black;
        border: none;
        color:rgb(255, 162, 199);
        text-align: center;
        padding: 10px;
    }

    #empty {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 40%;
        background-color: #ff79aa;
        z-index: 3;
    }


    .hoverdance {
        background-color:#ff79aa;
        opacity: 40%;

    }
